params.query = "$PWD/books/isles.txt"
params.wordcount = "$PWD/wordcount.py"
params.outfile = "isles.dat"
params.outdir = "$PWD/out_dir"
params.app = "python3"
params.help = false


timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  name = 'ARCCA/intro_nextflow'
  author = 'Thomas Green'
  homepage = 'www.cardiff.ac.uk/arcca'
  description = 'Nextflow tutorial'
  mainScript = 'files/nextflow_tutorial/.main.nf'
  version = '1.0.0'
}

